@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #6ba5f7;
    color: rgb(232, 235, 244);
    text-align: center;
    padding: 10px;
    text-align: center;
    text-shadow: #2f333a 3px 3px 5px;
    box-shadow: #2f333a 3px 3px 5px;
}
